$content-padding: 20px;
$color-bg: #409eff;
$color-active: #3d4e5d;
$color-active-dark: #23303b;
$color-main: #f5f5f5;
$color-border: #d5d5d5;
$color-content: #ffffff;
$color-font: #434a54;
$color-font-ex: #808080;
$color-btn: #46acff;
$color-btn-hover: #68a4d5;
